body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding:10px;
    background-attachment: scroll;
    background-size: cover;
    
}

header {
    padding-top: 0;
    color: white;
    padding:0;
    margin:0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 10px 0 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin: 20px 0;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.catalog-item {
    position: relative;
    flex: 0 1 calc(20% - 10px); /* Adjust the percentage to control the number of items per row */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    height: 300px; /* Adjust the height as needed */
}

.catalog-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
}

.buttons {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}


button:hover {
    opacity: 0.8;
}

.navbar{
    background-color: rgb(35, 100, 75);
    border-radius: .5px;

    
}
.navbar ul{
    overflow: auto;
    justify-content: right;

}
.navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
    
    
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    color: rgb(60, 0, 255);
    
    font-size: 2rem;
}

footer
 {
    text-align: center;
    margin-top: 5px;
    position:top;
    align-self: flex-end;

    color: aqua;
}
.footing{
    align-items: end;
    align-self: flex-end;
    margin-top: auto;
}
